@font-face {
  font-family: "Montserrat";
  src: url(./font/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  list-style: none;
}

body {
  margin: 0 auto;
  text-align: center;
  background-color: rgb(255, 255, 255);
}

::selection {
  background-color: rgb(116, 12, 235);
  color: #fff;
}

button {
  background: none;
  outline: none;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 700;
  transition: 0.2s ease-in;
}

button:hover {
  color: black;
  background: rgb(245, 245, 245);
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

nav li,
nav li a {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  position: relative;
  transition: 0.3s ease;
  padding: 20px 0;
}

nav li:first-child {
  color: rgb(116, 12, 235);
}

nav li:first-child::before {
  content: "";
  width: 100%;
  height: 5px;
  background: rgb(116, 12, 235);
  position: absolute;
  transform: translateY(-20px);
}

nav li:hover:before {
  content: "";
  width: 100%;
  height: 5px;
  background-color: rgb(116, 12, 235);
  position: absolute;
  transform: translateY(-20px);
}

nav li:last-child::before {
  background: none;
}

#language {
  background: rgb(212, 212, 212);
  border-radius: 50px;
  padding: 8px 16px;
}

.main-header {
  background: url(./assets/img/bg.jpg) fixed center/cover;
  color: whitesmoke;
  padding: 60px;
}

h1 {
  text-transform: uppercase;
  font-size: 1.5rem;
  margin: 30px 0 35px;
  font-weight: 700;
}

.main-header button {
  padding: 15px 30px;
  letter-spacing: 2px;
}

.main-header i {
  transform: translateX(5px);
}

.header-text {
  max-width: 1100px;
  margin: 0 auto;
  padding: 45px 0;
  font-size: 1.2rem;
  line-height: 35px;
  font-weight: 700;
}

.icon-part {
  background: rgb(10, 10, 10);
  color: whitesmoke;
  padding: 45px 0;
}

.icon-part-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  gap: 20px;
}

.lip-logo {
  margin-bottom: 30px;
}

.icon-part h3 {
  text-transform: uppercase;
}

.icon-part p {
  font-weight: 500;
  width: 80%;
  margin: 10px auto 20px;
}

.icon-part button {
  padding: 10px 30px;
}

.news-part {
  background: rgba(245, 245, 245, 0.8);
  padding: 80px 0 45px;
}

.header-news {
  display: grid;
  grid-template-columns: 70% 30%;
  max-width: 1000px;
  margin: 0 auto;
}

.left-part {
  line-height: 30px;
}

.left-part h2 {
  text-align: start;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.left-part p {
  text-align: start;
  font-weight: 600;
  font-size: 0.9rem;
}

.right-part {
  text-align: start;
}

.right-part button {
  border: 1px solid black;
  color: black;
  letter-spacing: 1px;
  padding: 15px 40px;
  transition: 0.2s ease-in;
}

.right-part button:hover {
  background: black;
  color: whitesmoke;
}

.right-part i {
  transform: translateX(5px);
}

.main-news-container {
  display: flex;
  justify-content: space-around;
  max-width: 1100px;
  margin: 45px auto;
}

.main-news-container > div {
  position: relative;
  max-width: 23%;
}

.mn-pic img {
  object-fit: cover;
  width: 100%;
  border-radius: 3px;
  box-shadow: 0 2px 10px #888;
}

.main-news h4 {
  text-align: start;
  line-height: 20px;
  font-weight: 700;
  margin: 15px 0;
}

.main-news p {
  text-align: start;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 20px;
  margin-bottom: 45px;
}

.link {
  text-align: left;
  position: absolute;
  bottom: 0;
}

.main-news a {
  color: rgb(116, 12, 235);
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.main-news a:hover {
  color: rgb(187, 23, 179);
}

.main-news i {
  transform: translateX(5px);
}

.contact {
  padding: 65px 0 20px;
}

.contact-list {
  display: flex;
  justify-content: space-around;
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.contact-list:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 1px;
  background: rgb(201, 201, 201);
  bottom: -28px;
}

.contact-list .list {
  text-align: left;
  width: 20%;
}

#contact-img {
  margin: 0 auto;
  display: block;
}

.list h5 {
  text-transform: uppercase;
  font-size: 1rem;
  margin-bottom: 10px;
}

.infos-p {
  font-size: 0.6rem;
  text-transform: capitalize;
}

.infos-p li {
  font-size: 0.8rem;
  font-weight: 700;
  color: rgb(116, 12, 235);
  margin-bottom: 15px;
  text-align: left;
}

.list p {
  font-weight: 700;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.list a {
  color: rgb(116, 12, 235);
  font-weight: 700;
}

.list a:hover {
  color: rgb(187, 23, 179);
}

.list h6 {
  font-size: 0.8rem;
}

.network {
  padding-top: 10px;
}

.footer-logos i {
  font-size: 1.2rem;
  margin: 0 12px 20px 0;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.footer-logos i:hover {
  font-size: 1.4rem;
}

.copyright {
  margin-bottom: 0;
}

.contact-medias {
  padding: 65px 0 15px;
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}

.medias-text {
  text-align: left;
  width: 30%;
}

.medias-text h3 {
  text-transform: uppercase;
  padding-bottom: 20px;
}

.medias-text p {
  font-weight: 800;
  cursor: pointer;
}

.medias-text p:hover {
  color: rgb(187, 23, 179);
}

.medias-logos {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.medias-logos img {
  width: 70px;
}

footer {
  background: rgb(10, 10, 10);
}

footer h3 {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 20px 0;
  font-size: 1.4rem;
}

footer ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding-bottom: 40px;
}

footer img {
  width: 90%;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

footer img:hover {
  width: 100%;
}
